.counter-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 100px;
  margin: 40px auto;
}

.number {
  font-size: 300pt;
  color: #439A86;
  line-height: 1;
}

button[mat-icon-button] {
  width: 70px;  
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.puscice {
  font-size: 60px; 
  width: 60px;
  height: 60px;
  color: #FBFBFF; 
}

.gumb{
    background-color: #439A86 !important; 
  color: #FBFBFF !important;
  transform: scale(1.5);
  margin: 20px;         
}

.logout{
    background-color: #3F8EFC !important; 
  color: #FBFBFF !important;
  margin: 5px;         
}