button[mat-icon-button] {
  width: 70px;  
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout{
    background-color: #3F8EFC !important; 
  color: #FBFBFF !important;
  margin: 5px;         
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

h2 {
  color: #FBFBFF;
  font-size: 50px;
  margin-bottom: 60px;
  text-align: center;
}

table {
  width: 30%;           
  font-size: 25px;
}

th {
  background-color: #3F8EFC; 
  color: #FBFBFF;
  padding: 15px;
  text-align: left;
}

td {
  color: #36453B;
  background-color: #FBFBFF;
  padding: 15px 15px;
  border-bottom: 1px solid #eee;
}

.gumb{
    background-color: #439A86 !important; 
    color: #FBFBFF !important;
    transform: scale(1.5);
    margin: 60px;         
}